<footer>
    <p class="mt-5 mb-3 text-muted text-center">
        <a href="./privacyPolicy" style="color: #2b38b7; text-decoration: underline;">Privacy Policy</a>
        <a> | </a>
        <a href="./terms" style="color: #2b38b7; text-decoration: underline;">Terms of Service</a>
        <a> | </a>
        <a href="./contact" style="color: #2b38b7; text-decoration: underline;">Contact Us</a>
    </p>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2024 Thipiga Rajasekar, Mohammed Aasif</p>
</footer>
