<main class="container">
    <br><br>
    <h2><i class="fa-solid fa-shield-halved"></i> Privacy Policy</h2>
    <h4> Welcome to Harmony Hub! This Privacy Policy outlines how we collect, use, and protect your
        personal information. By using our website, you consent to the practices described in this policy. </h4>
    <br>
    <h5>
        1. Types of Data Collected
    </h5>
    <h6>
        Personal Information:
    </h6>
    <p>
        - Name
        <br>
        - Email address
        <br>
        - Phone number
        <br>
        - Any other information you voluntarily provide
        <br>
    </p>
    <h5>
        2. Use of Collected Data
    </h5>
    <h6>
        We use your information for the following purposes:
    </h6>
    <p>
        - To personalize your experience
        <br>
        - To improve our website
        <br>
        - To send periodic emails (if opted in)
    </p>
    <h5>
        3. User Rights
    </h5>
    <p>
        a. Access: You have the right to request a copy of your personal information.
        <br>
        b. Rectification: You can correct any inaccuracies in your personal data.
        <br>
        c. Erasure: You can request the deletion of your personal information.
    </p>
    <h5>
        4. Security
    </h5>
    <h6>
        We implement security measures to protect your data. However, no method of transmission
        over the internet is 100% secure.
    </h6>
    <h5>
        6. Cookies
    </h5>
    <h6>
        We use cookies to enhance your experience. You can disable cookies in your browser settings.
    </h6>
    <h5>
        7. Changes to Privacy Policy
    </h5>
    <h6>
        We may update our Privacy Policy. Check this page for any changes.
    </h6>
    <h5>
        8. Contact Information
    </h5>
    <h6>
        If you have questions about our Privacy Policy, contact us at harmony.hub@dcmail.ca.
    </h6>

</main>