<div class="container">
    <br>
    <h2>Our Team</h2>
    <br>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="../../../client/assests/pics/profilePhoto.jpg" class="card-img-top" alt="Team Member 1">
            <div class="card-body">
                <h5 class="card-title">Thipiga Rajasekar</h5>
                <p class="card-text">Role: Web Developer</p>
                <button data-action="learn-more">Learn More</button>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title" id="member1ModalLabel">Thipiga Rajasekar</h3>
                <button data-action="close">&times;</button> <!-- Corrected function call -->
            </div>
            <div class="modal-body">
                <img src="../../../client/assests/pics/profilePhoto.jpg" class="img-fluid" alt="Team Member 1">
                <br><br>
                <h5>Thipiga Rajasekar is a passionate developer willing to learn all kinds of technology and languages.
                    She has experience in many languages such as HTML, PHP, Python, Java and many more. </h5>
            </div>
        </div>

    </div>
</div>


